@font-face {
    font-family: Optima;
    src: url('../fonts/Optima-Regular.eot');
    src: url("../fonts/Optima-Regular.ttf") format('truetype'),
        url("../fonts/Optima-Regular.woff") format('woff');
}
@font-face {
    font-family: Optima;
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype')
}
a, .page-header .img-container
{
     transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
.hide-at-start
{
    display:none;
}
.row
{
    max-width:75rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    background: #ccc;
    font-size: 1rem;
    /*font-size: 14px;*/
}
h1, h2, h3, h4, h5
{
    color:#000;
}
h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    font-family: Optima;
    text-shadow:0 1px 1px  #777;
}

h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

a {
    color: #fff;

}

a:hover {
    color: #ccc;

}
a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.header {
    background: #000;
    color: #fff;

}

.header img {
    max-height: 150px;
    display: block;
    margin: auto;
}
.header img.payerole-header-img
{
    margin-top:0.3rem;
}
.header .page-header
{
    position:fixed;
    height:0.4rem;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    background:#000;
}
.header .page-header .img-container
{
    position:absolute;

    padding: 6px 20px 6px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top:0.4rem;
    background:#000;
    box-shadow: 0 2px 3px #444 ;
    border-top:0px solid #000;
}


.jumper
{cursor:pointer;}
.header .page-header .img-container img
{
    max-height:36px;
    min-height:36px;
}
.header .page-header .img-container:hover
{
    border-top:5px solid #000;
}
.header .page-header .img-container:hover img
{

}
.inc
{
    font-size: 0.8rem;
}
.payerole
{
    padding-bottom:1rem;
    margin-top:-1rem;

}

table td, table th{
    text-align:right !important;
}
table.bottom-table td, table.bottom-table th {
    text-align:left !important;
}
img.flag
{
    max-width:1.5rem;
}
.contactdetails {
    margin-top: 1rem;
}

.content {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.content h1 {
    border-bottom: 0.2rem solid #000;
}

.content h3 {
    border-bottom: 0.2rem solid #000;
}

.content a {
    border-bottom: 0.1rem solid #000;
    color: #000;
}

.content a:hover {
    border-bottom: 0.1rem solid #444;
    color: #444;
}

.content .innercontent {
    padding: 1rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #DDD;
    background: #fefefe;
    background: rgba(255, 255, 255, 0.8); color : #000;
    margin-bottom: 2rem;
    color: #000;
}

.content .innercontent img {
    display: block;
}

img.bordered {
    padding: 1rem;
    border: 0.1rem solid #ccc;
    background: #eee;
    border-radius: 0.2rem;
}

.content .innercontent.services h3 {
    text-align: center;
    margin-top: 1rem;
}

.content .innercontent.services .block {
    height: 30rem;
}

.content .innercontent.services .orb {
    /*    border-radius: 50%;
        border: 0.2rem solid #E12F2F;
        background: rgba(0, 0, 0, 0.8);*/
    height: 6rem;
    margin: auto;
    color:#fff;
}

.footer {
    min-height: 15rem;
    background: #000;
    color: #fff;
}
footer .inner-footer
{
    padding: 1.4rem 0 ;
}
.footer .inner-footer a {
    color: #fff;
    border-bottom: 0.1rem solid #fff;
}

.footer .inner-footer a:hover {
    color: #ccc;
    border-bottom: 0.1rem solid #ccc;
}
.bbc-news-feed {
    background: #9D0A0E;
    min-height: 5rem;
    text-align: center;
    color: #dedede;
    padding: 1rem;
    display:none;

}
.bbc-news-feed .bbc
{
    font-weight:bold;
}
.bbc-news-feed .bbc .beeb
{

    margin:0;
    padding:0;

    display:inline-block;

    background:#fff;
    color: #990000;

}

.bbc-news-feed .story
{
  height:rem;
    font-size:1rem;
    padding:0 20px;
}
.bbc-news-feed .headline {
    font-weight:bold;
    color:#fff;
}

.bbc-news-feed .text {
    color:#fff;
}

.bbc-news-feed .panel .link {
    font-style:italic;
}
.bbc-news-feed .link a {
    color:#000;
}
.bbc-news-feed .panel
{
    background:none;
    border:none;

}
.copyright {
    padding-left:0.5rem;
    padding-right:0.5rem;
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    background: #222;
    min-height: 3rem;
}

.copyright p {
    color: #555;
    margin: 0;
    padding: 0;
    font-size:0.9rem;
}

.accreds img {
    margin-bottom:1.8rem;
}
address
{
    font-style: normal;
}
.footer-img
{
    height:50px;
    margin-bottom:1rem;
    position:relative;
}
.footer-img.bedco
{
    left:-6px;
}
.footer-img.paye img
{
    margin-top:0.7rem;
    height:1.5rem;
}
#ftse-group, #xe-group
{
    color:#000;
    font-size:0.8rem;
}
.ftse .up
{
    color:#008000;
}
.ftse .down
{
    color:#9D0A0E;
}

.updater.updating
{
    background:#BEF6D1;

}

.bottom-table
{
    width:100%;
}
.services-table
{
    list-style-type: none;
    text-align:center;
    font-size:1rem;
    background:#fefefe;
    border-top:3px solid #333;
    border-left:3px solid #333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4),
        0 6px 0 -3px #f6f6f6,
        0 7px 1px -3px rgba(0, 0, 0, 0.4),
        0 12px 0 -6px #f6f6f6,
        0 13px 2px -6px rgba(0, 0, 0, 0.4);
    margin-bottom:1.25rem;
}
.services-table li
{

}
.services-table .description
{
    border-bottom:dotted 1px #ddd;
    color:#777;
    font-size:0.75rem;
    padding:0.9375rem;
}
.services-table .sub-title
{
    padding:0.9375rem 1.25rem;
}
.services-table .bullet-item
{
    border-bottom:dotted 1px #ddd;
    padding:0.9375rem;
    font-size:0.9rem;

}
.services-table.from-right
{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4),
        5px 6px 0 -3px #f6f6f6,
        6px 7px 1px -3px rgba(0, 0, 0, 0.4),
        11px 12px 0 -6px #f6f6f6,
        12px 13px 2px -6px rgba(0, 0, 0, 0.4);
}
.services-table.from-left
{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4),
        -5px 6px 0 -3px #f6f6f6,
        -6px 7px 1px -3px rgba(0, 0, 0, 0.4),
        -11px 12px 0 -6px #f6f6f6,
        -12px 13px 2px -6px rgba(0, 0, 0, 0.4);
}
.services-table .title
{
    font-weight:bolder;
    font-family:Optima;
    font-size:1.6rem;
    text-shadow:0 1px 2px  #000;
    padding:0.5rem 0.75rem;
    color:#eee;
    background:#333;

}
.services-table.color-r
{
    border-top-color:#9D0A0E;
    border-left-color:#9D0A0E;
}
.services-table.color-r .title
{
    background:#9D0A0E;
}
.services-table.color-r .sub-title
{
    background:#bf2c2f;
}
.services-table.color-g
{
    border-top-color:#02775D;
    border-left-color:#02775D;
}
.services-table.color-g .title
{
    background:#02775D;
}
.services-table.color-g .sub-title
{
    background:#24997f;
}
.services-table.color-b
{
    border-top-color:#00237C;
    border-left-color:#00237C;
}
.services-table.color-b .title
{
    background:#00237C;
}
.services-table.color-b .sub-title
{
    background:#22459e;
}
[v-cloak] {
    display:none;

}
